.logo{
    align-items: center;
    height: auto;
    width: 80vw;
    margin: 0;
    padding: 0;
    margin-bottom: 10vw;
}

.titre{
    font-family: 'Legend M54';
    font-size: 15vw;
    text-align: center;
    color: #FFF2E3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 20vw;
}

.titre label:nth-child(2) {
    color: #0CF;
}

label {
    margin-bottom: 3vw;
}

button
{
    min-height: 150px;
    height: 15vw;
    width: 50vw;
    font-size: 7.5vw;
    margin-bottom: 3vw;
    font-family: 'Legend M54';
    background-color: #014bc6;
    border: none;
    color: white;
    border-radius: 100px;
}

button:hover
{
    background-color: #002F7F;
}

.bouton-regles
{
    font-size: 5vw;
}

