label {
    color: white;
    font-size: 5vw;
    font-family: "Legend M54";
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    width: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    padding: 5vw;
    border: solid 1vw white;
}

.ligne {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5vw;
    padding-bottom: 5vw;
    border-bottom: solid 1vw white;
}

button {
    height: 10vw;
    width: 50vw;
    font-size: 4vw;
    margin-top: 3vw;
    font-family: 'Legend M54';
    background-color: #00CCFF;
    border: none;
    color: white;
    border-radius: 50px/50px;
}

.contenuQuestion {
    font-family: 'Roboto Condensed', sans-serif;
    width: 70%;
    text-align: right;
}

@media only screen and (min-width: 992px) {

    .pageContent {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .question {
        width: 20%;
        border: solid 0.5vw white;
        padding: 1vw;
    }

    .ligne {
        border-bottom: solid 0.5vw white;
        margin-bottom: 1vw;
        padding-bottom: 1vw;
    }

    label {
        font-size: 1.5vw;
    }

    button {
        width: 20vw;
        font-size: 3vw;
        height: 4vw;
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    p {
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    .code {
        font-size: 5vw;
    }
}