@font-face {
    font-family: 'Legend M54';
    src: url('../font/LegendM54/legend_m54-webfont.woff2') format('woff2'),
    url('../font/LegendM54/legend_m54-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url("../ressources/background1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.retour {
    height: 15vw;
    width: 40vw;
    font-size: 6.5vw;
    margin: 5vw;
    font-family: 'Legend M54';
    background-color: #00CCFF;
    border: none;
    color: white;
    border-radius: 50px/50px;
}

.motVrai {
    color: lightgreen;
}

.motFaux {
    color: #FF7F7F;
}

.motQuestion {
    color: #00CCFF;
}

.bonneReponse {
    background-color: lightgreen;
}

.mauvaiseReponse {
    background-color: #FF7F7F;
}

input::placeholder {
    color: black;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100%;
}

.motImportant {
    color: #00CCFF;
}