.erreur {
    font-family: "Legend M54";
    font-size: 10vw;
    color: white;
}

.erreur2 {
    color: #00CCFF;
    font-size: 10vw;
}

label {
    font-family: "Legend M54";
    font-size: 8vw;
    color: white;
    margin-bottom: 2vw;
}

.retour {
    margin-top: 30vw;
}

