body{
    justify-content: flex-start;
    overflow: hidden;
}

form {
    height: 100%;
}

div {
    margin: 0;
    height: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.numeroQuestion {
    color: #00CCFF;
    font-family: "Legend M54";
    background: none;
    padding: 0;
    border: none;
}

.reponse {
    width: 100%;
    text-align: center;
    background-color: #002F7F;
    padding: 2vw;
    border: solid 1vw white;
    font-family: "Roboto Condensed", sans-serif;

}

.lettreReponse {
    margin-right: 4vw;
    font-size: 5vw;
    font-family: "Legend M54";
}

.caseReponse {
    font-family: "Legend M54";
    font-size: 8vw;
    color: white;
    background-color: #002F7F;
    padding: 3vw;
    width: 6vw;
    height: 6vw;
    text-align: center;
    border-radius: 50%;
    border: solid 1vw white;
}

.cases {
    margin-bottom: 9vw;
    display: flex;
    justify-content: space-evenly;
}

input {
    display: none;
}

h1 {
    font-family: "Legend M54";
    font-size: 7.5vw;
    text-align: center;
    color: white;
    margin: 0;
}

h2 {
    font-family: "Legend M54";
    font-size: 7.5vw;
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 5vw;
}

p {
    font-size: 5.5vw;
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 5vw;
    margin-bottom: 7vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-family: "Roboto Condensed", sans-serif;
}

#nomJoueur {
    color: #00CCFF;
    margin: 0;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    margin-bottom: 4vw;
    font-size: 4vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

form {
    width: 100%;
    margin: 0;
}

ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#spriteTireur {
    z-index: 10;
    position: relative;
    width: 70%;
    left: 35%;
}

#palet {
    width: 5%;
    position: absolute;
    top: 70%;
    left: 70%;
}

#centre {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: transparent;
}

@keyframes paletCas1 {
    0% {
        top: 70%;
        left: 70%;
    }
    100% {
        top: 37.5%;
        left: 17%;
    }

}

@keyframes paletCas2 {
    0% {
        top: 70%;
        left: 70%;
    }
    100% {
        top: 37.5%;
        left: 47%;
    }
}

@keyframes paletCas3 {
    0% {
        top: 70%;
        left: 70%;
    }
    100% {
        top: 37.5%;
        left: 77%;
    }
}

.pseudoScoreDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4vw;
    height: 10vw;
}