h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

p {
    margin: 0 0 20px 0;
}

ul {
    list-style-type: none;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
