.titre {
    text-align: center;
    font-family: "Legend M54";
    font-size: 8vw;
    color: #7de1ff;
    margin-bottom: 8vw;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 7vw;
    width: 80%;
}