.titre {
    text-align: center;
    font-family: "Legend M54";
    font-size: 8vw;
    color: #7de1ff;
    margin-bottom: 12vw;
}

label {
    font-family: 'Calibri', sans-serif;
    color: white;
    text-align: center;
    font-size: 7vw;
    width: 80%;
    margin-bottom: 8vw;
}