form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10vw;
    color: white;
    margin: 0;
    padding: 0;
}

label {
    margin-bottom: 10vw;
    padding: 0;
    font-family: 'Legend M54';
    color: #00CCFF;
    text-align: center;
}

input {
    margin: 0vw;
    padding: 0;
    width: 40vw;
    height: 12vw;
    font-size: 4vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20vw;
}

button {
    height: 15vw;
    width: 60vw;
    font-size: 8vw;
    font-family: 'Legend M54';
    background-color: #00CCFF;
    border: none;
    color: white;
    border-radius: 50px/50px;
}