body {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    width: 70vw;
    height: 20vw;
    font-size: 8vw;
    font-family: 'Legend M54';
    background-color: #00CCFF;
    color: white;
    border-radius: 50px/50px;
    margin-bottom: 6vw;
}

p {
    font-family: 'Legend M54';
    font-size: 8vw;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12vw;
    text-align: center;
}

.code {
    font-size: 12vw;
    font-family: 'Roboto Condensed', sans-serif;
    color: #00CCFF;
}

@media only screen and (min-width: 992px) {

    button {
        width: 40vw;
        font-size: 3vw;
        height: 8vw;
        margin-bottom: 3vw;
    }

    p {
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    .code {
        font-size: 5vw;
    }
}